html{
    animation: fadeIn 6.5s ease 0s 1 normal;
    background-color: rgba( rgb(0, 0, 0,0.5));
}

body{
    background-attachment: fixed; 
    background-image:url(./blue.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    color: aqua;
    text-shadow: 1px 1px 0px white;
    font-family: cursive;
    
}
a{
   color: aqua;
   margin-right: 30px;
    animation: fadeIn 7s ease 0.3s 1 normal
    
}
a:hover{
    cursor: pointer;
    color: #000000;
    background-color: aqua;
    transition:all 1s 0.2s ease;
    border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
}
.flex{
    display: flex;
}

.line{
    background: linear-gradient(transparent 50%, #ffd900ab 50%);
    position: relative;
    padding: 0.25em 0;
    width: 360px;
}

h1{
    animation: fadeIn 2s ease 0.3s 1 normal;
}
h2{
    animation: fadeIn 3s ease 0.3s 1 normal;
}


li{
    margin-right: 30px;
    animation: fadeIn 5s ease 0.3s 1 normal
    
}
p{
    animation: fadeIn 5s ease 0.3s 1 normal
}
.fade{
    animation: fadeIn 4s ease 0.3s 1 normal;
}
@keyframes fadeIn { 
    0% {opacity: 0} 
    100% {opacity: 1} 
}
@keyframes fadeOut { 
    0% {opacity: 1} 
    100% {opacity: 0} 
}



